<%= simple_form_for(@cocktail) do |f| %>
  <div class="form-inputs">
    <%= f.input :name, required: true %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden, input_html: { calss: "button" } %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
