<div class="card-img" style="<%= "background: linear-gradient(190deg,rgba(0,0,0,0.1), rgba(0,0,0,0.5)) ,url(#{@cocktail.photo_url}) 0 0 no-repeat; background-size: cover;" %>"></div>
<div class="card big">
  <div class="card-main">
    <h1 class="align-center" style="padding-top: 1.5em;">
      <%= @cocktail.name %>
      <%= link_to "", edit_cocktail_path(@cocktail), class: "fas fa-pencil-alt" %>
      <%= link_to "", cocktail_path(@cocktail), method: :delete, class: "fas fa-trash-alt" %>
    </h1>

    <div class="card-section">
      <% @cocktail.rating.times do %>
      <i class="far fa-star"></i>
      <% end %>
    </div>
  </div>
</div>

<div class="small-container">
  <div class="grid-container fluid">
    <div class="grid-x grid-margin-x grid-margin-y grid-padding-y">
      <div class="cell auto">

        <div class="ingredients">
          <h4>Ingredient's List</h4>
          <% @cocktail.doses.each do |dose|%>
          <div class="ingredient">
            <span><%= dose.ingredient.name %></span>
            <span><%= dose.description %></span>

            <%= link_to "", cocktail_dose_path(@cocktail, dose), method: :delete, class: "fas fa-trash-alt" %>
          </div>
          <% end %>
        </div>
      </div>
      <div class="cell small-1 medium-4">
        <h4>Add Ingredients</h4>
        <%= render 'form-dose' %>
      </div>
    </div>
    <div class="reviews">


      <h4>Reviews</h4>
      <% @cocktail.reviews.each do |review|%>
      <div class="review">
        <span><%= review.content %></span>
        <% review.rating.to_i.times do %>
        <i class="far fa-star"></i>
        <% end %>

        <%= link_to "", cocktail_review_path(@cocktail, review), method: :delete, class: "fas fa-trash-alt" %>
      </div>
      <% end %>
    </div>
    <%= render 'form-review' %>
  </div>
</div>

<div class="links">
  <%= link_to "", root_path, class: "fas fa-arrow-left" %>
</div>

